:root {
	--black: #000000;
	--grey: #969696;
	--grey-lt: #DBD9D5;
	--white: #FFFCFA;
	--red: #C92424;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Times New Roman', Times, serif;

}
