:root {
	--black: #000000;
	--grey: #969696;
	--grey-lt: #DBD9D5;
	--white: #FFFCFA;
	--red: #C92424;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* mobile */
body {
	font-family: 'Times New Roman', Times, serif;
	color: var(--black);
	background-color: var(--white);
	padding: 24px 0;
}

h1, h2, h3 {
	text-transform: uppercase;
	font-weight: 900;
}

h1 {
	font-size: 3rem; /* 48/16px */
}

p {
	font-size: 1rem;
}

/* mobile grid-layout 3 columns mitten ska vara 100% av 576/16 = 36rem med undantaget att sido columns är -48px så det blir 24px per sida */
.grid-main {
	display: grid;
	grid-template-columns: 1fr min(100% - 48px, 36rem) 1fr;
}

.grid-content {
	grid-column: 2/3;
}

.navbar {
display: flex;
justify-content: space-around;
align-items: center;
}

.navbar ul {
	flex-direction: column;
	align-items: center;
}

.navbar a {
font-size: 0.8rem;
font-weight: 700;
padding: 0.4rem;
text-decoration: none;
text-transform: uppercase;
color: var(--black);
}

.navbar ul {
padding: 0.4rem;
list-style: none;
display: flex;
gap: 1.2rem;
}

.navbar a:hover {
cursor: pointer;
background-color: var(--black);
color: var(--grey-lt);
border-radius: 8px;
}

.active {
border-bottom: 2px solid var(--black);
}

button {
	font-family: inherit;
}

button:hover {
	cursor: pointer;
}

.preorder-btn {
	padding: 16px 26px;
	background-color: var(--red);
	color: var(--white);
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1,625; /* delade linje höjden 26 med font storleken 16 */
	border: 0;
	border-radius: 8px;
}

/* tablet */
@media (width > 576px) {
	body {
		padding: 40px 0;
	}

	h1 {
		font-size: 3.5rem;
	}

	.grid-main {
		display: grid;
		grid-template-columns: 1fr min(100% - 80px, 50rem) 1fr;
	}

	.navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		}

		.navbar ul {
			flex-direction: row;
			align-items: center;
		}

		.navbar a {
			font-size: 1.125rem;
			font-weight: 900;
		}
}

/* desktop  */
@media (width > 800px) {
	body {
		padding: 55px 0;
	}

	h1 {
		font-size: 3.5rem; /* 56/16px */
	}

	p {
		font-size: 1.125rem; /* 18/16px */
	}

	.grid-main {
		display: grid;
		grid-template-columns: 1fr min(100% - 80px, 50rem) 1fr;
	}

	.navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		}

		.navbar ul {
			flex-direction: row;
			align-items: center;
		}

		.navbar a {
			font-size: 1.2rem;
			font-weight: 900;
		}

}
